

.sidebar{
margin: 20px;
}
.sidebar_menu{
    box-shadow: 0 1px 6px -4px #54595e;
    display: flex;
    flex-direction: column;
    width: 210px;
    overflow: hidden;
    border-radius: 10px;
}
.sidebar_menu a{
 color: #4f657d;
 border-color: transparent;
 cursor: pointer;
 padding: 15px 33px;
 display: flex;
 align-items: center;
 font-size: 12px;
 transition: all 1s;
}

.sidebar_menu a:hover, .sidebar_menu a.active{
    border-left: 3px solid #1877f2;
    background-color: #f5f7Fa;
    color:#1877f2 ;
}

.me-3{
  margin-right: 15px;
 transition: all 1s;
 color: #d3dade;

}
.sidebar_menu a:hover .me-3 , .sidebar_menu a.active .me-3{
    color: #1877f2;
}


.sidebar_menu b{
   font-weight: 500;

}
.sidebar-container {
    display: flex;
  }
  
  .sidebar {
    width: 500px; /* ou la largeur que vous souhaitez pour votre Sidebar */
  }
  
  .content {
    flex: 1; /* cette propriété permet de faire prendre toute la place restante à l'élément */
  }

  .profileimage{
  width: 40px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -250px;


  }
  .ContentUploadContainer{
    width: 600px;
    background-color: rgb(239, 240, 242);
    height: 20vh;
    margin: auto;
   margin-top: -80px;
   border-radius: 10px;
  }

  .inputCenter{
    width: 29pc;
    margin-left:  10px;
    height: 30px;
    border: none;
    margin-top: 10px;
  }
   .profileimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;

   }
   .icons{
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-top: 49px;

   }

   .SubPostContainer{
    width: 70%;
    height: 780px;
    background-color: rgb(136, 239, 227);
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 20px;
    border-radius: 10px ;
   
   
   }
   .PostImage{
       width: 50px;
       height: 40px;
       border-radius: 50%;
       margin-left: 10px;
       border-radius: 10px;


   }

  .PostImage2{
   width: 540px;
   height: 480px;
   object-fit: contain;

  }

  .iconsPost{
    width: 30px;
    margin-left: 10px;


  }

  .moreoptions{
     width: 20px;
     margin-left: 450px;

  }

  .commitinput{
   width: 37pc;
   margin-left: 8px;
   border: none;
   height: 3vh;
  }

  .addcommentbtn{
    padding: 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 20px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
  }

 